body{
  background-color: cyan;
  font-style: italic;
  font-size: 2em;
<<<<<<< HEAD
  margin: 20px;
=======
  padding-left: 3px;
>>>>>>> feature4
}
p{
  background-color: pink;
  font-weight: bold;
}
